.top-carousel {
  height: 390px;
  overflow: hidden;
  .owl-stage-outer {
    height: 100%;
  }
  .owl-stage {
    height: 100%;
  }
  .owl-item {
    height: 100%;
    > a {
      height: 100%;
    }
  }
  .owl-nav {
    color: transparent;
    display: block;
  }
  .owl-prev {
    left: 60px;
    background-image: image-url("carousel-prev.png");
    cursor: pointer;
    height: 46px;
    width: 31px;
    position: absolute;
    top: 50%;
    transform: translateY(-23px);
  }
  .owl-next {
    right: 60px;
    background-image: image-url("carousel-next.png");
    cursor: pointer;
    height: 46px;
    width: 31px;
    position: absolute;
    top: 50%;
    transform: translateY(-23px);
  }
  .owl-dots {
    display: block;
    margin: -30px;
    text-align: center;
    width: 1280px;
    .swiper-pagination-bullet {
      background-color: #fff;
      border-radius: 50%;
      height: 12px;
      margin-right: 15px;
      width: 12px;
      span {
        display: none;
      }
      &-active {
        background: rgba(0,0,0,0.5);
      }
      :last-child {
        margin-right: 0;
      }
    }
  }
  .owl-dots {
    line-height: 0;
  }
  .owl-dot {
    max-height: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
    opacity: .4;
    cursor: pointer;
    .active {
      opacity: 1;
      cursor: default;
    }
  }
}
.owl-carousel {
  position: relative;
  .owl-stage-outer {
    position: relative;
    position: hidden;
  }
  .owl-stage {
    position: relative;
  }
  .owl-item {
    min-height: 1px;
    -webkit-tap-highlight-color: transparent;
    float: left;
    user-select: none;
  }
  img {
    vertical-align: bottom;
  }
}
.top-banner {
  background-size: auto;
  display: block;
  background-position: center;
  object-fit: cover;
  width: 1280px;
  height: 390px;
}
.top-main-visual {
  height: 390px;
  display: block;
  background-size: cover;
  background-image: image-url("main_bg_pc.jpg");
  &-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  h2 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: bold;
  }
  p {
    font-size: 18px;
    margin: 16px 0 0;
    line-height: 1.77778;
  }
  &-store {
    margin: 24px 0 0;
    line-height: 0;
    @include clearfix();
    > a {
      width: 170px;
      height: 50px;
      display: inline-block;
      &:first-child {
        margin: 0;
      }
    }
  }
  > div {
    max-width: 860px;
    position: relative;
    height: 100%;
    margin: auto;
    > img {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: auto;
    }
  }
}
