.global-footer {
  padding: 60px 0;
  text-align: center;
  background: #212121;
  color: #fff;
  .nav {
    width: 1020px;
    margin: 0 auto;
  }
  li {
    color: #333;
  }
  .footer-cell {
    display: inline-block;
    width: 23%;
    margin: 0 2px 0 0;
    vertical-align: top;
    .footer-head {
      color: #fff;
      font-size: 16px;
    }
    li {
      margin: 16px 0 0;
      color: #333;
      &:first-child {
        margin: 24px 0 0;
      }
    }
    a {
      display: block;
      color: #fff;
    }
  }
  .footer-logo {
    display: block;
    margin: 40px 0 0;
    text-align: center;
  }
  .footer-copyright {
    margin: 8px 0 0;
    text-align: center;
  }
}
.footer-sell-btn {
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  font-size: 22px;
  position: fixed;
  z-index: 1000;
  border-radius: 50%;
  background: #ea352d;
  color: #fff;
  text-align: center;
  div {
    margin: 32px 0 0;
  }
  .icon-camera {
    margin: 8px 0 0;
    font-size: 54px;
  }
}
