.app-banner {
  background-image: image-url('download_bg_pc.jpg');
  background-position: center;
  &-pc {
    display: block;
    overflow: hidden;
    position: relative;
    width: 750px;
    height: 260px;
    margin: 0 auto;
    color: #fff;
    h2 {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      margin: 0;
    }
    p {
      font-size: 35px;
      margin: 10px 0 0;
    }
    &-inner {
      left: 0;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      .app-banner-icon {
        margin: 20px 0 0;
        @include clearfix();
        figure {
          float: left;
        }
        ul {
          float: left;
          margin: 0 0 0 19px;
          line-height: 68px;
        }
        li {
          margin: 0 5px 0 10px;
          float: left;
        }
        a {
          display: block;
          line-height: 68px;
        }
        img {
          vertical-align: middle;
        }
      }
    }
    > figure {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 300px;
      height: 100%;
      > img {
        width: 100%;
      }
    }
  }
}
