  .pc-header {
    position: relative;
    z-index: 1001;
    background: #fff;
    h1 {
      a {
        display: block;
        color: #333;
      }
    }
    .visiable-pc {
      display: block;
    }
    &-inner {
      width: 1020px;
      margin: 0 auto;
      padding: 8px 0 0;
      .clearfix {
        @include clearfix();
        .l-left {
          float: left;
        }
        .l-right {
          float: right;
        }
        .pc-header-form {
          position: relative;
          width: calc(100% - (134px + 16px));
          .input-default {
            width: 100%;
            height: 36px;
            padding: 9px 32px 9px 8px;
            background: #fafafa;
            transition: all ease-out .3s;
          }
          .icon-search {
            position: absolute;
            top: 0;
            right: 0;
            width: 36px;
            line-height: 36px;
            cursor: pointer;
            text-align: center;
          }
        }
      }
      .pc-header-nav-box {
        margin: 8px 0 0;
        @include clearfix();
        .pc-header-nav {
          font-size: 0;
          float: left;
          >li {
            position: relative;
            display: inline-block;
            padding: 0 0 0 16px;
            h2 {
              font-size: 14px;
              font-weight: 400;
            }
            &:first-child {
              padding: 0;
            }
          }
          a {
            display: block;
            color: #333;
          }
          &-root {
            position: relative;
            height: 38px;
            line-height: 32px;
          }
          &-count {
            position: absolute;
            top: -2px;
            left: 6px;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            color: rgb(255, 255, 255);
            border-radius: 50%;
            background: rgb(234, 53, 45);
          }
        }
      .pc-header-user-nav {
        font-size: 0;
        float: right;
        > li {
          position: relative;
          display: inline-block;
          padding: 0 0 0 16px;
          vertical-align: middle;
          &:first-child {
            padding: 0;
          }
          a span {
            margin: 0 0 0 8px;
          }
        }
        a {
          display: block;
          font-size: 14px;
          color: #333;
        }
        .sp-header-icon {
          margin: 0;
          > div {
            display: inline-block;
            font-size: 14px;
            vertical-align: middle;
            margin: 0 0 0 8px;
          }
          figure {
            line-height: 0;
            display: inline-block;
            position: relative;
            width: 32px;
            height: 32px;
            margin: 0 auto;
            vertical-align: middle;
            > div {
              overflow: hidden;
              border-radius: 50%;
            }
          }
        }
        .icon-bell {
          font-size: 17px;
        }
        i, span {
          vertical-align: middle;
        }
        .icon-check {
          font-size: 16px;
        }
      }
      .pc-header-login-nav {
        > li {
          display: inline-block;
          &:first-child {
            margin: 0;
          }
        }
        .btn-red {
          display: block;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
        }
        .sp-header-btn {
          margin: 0;
          padding: 0 10px;
          line-height: 30px;
          border-radius: 4px;
          text-align: center;
          &:first-child {
            margin-right: 3px;
          }
        }
        .header-signup {
          display: block;
          border: 1px solid #0099e8;
          background: #fff;
          color: #0099e8;
        }
      }
    }
  }
}


.input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: white;
  line-height: 1.5;
  font-size: 16px;
}

